@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$indigo-palette, A200, A400, 700);
$my-warn: mat.define-palette(mat.$red-palette);
$my-basic: mat.define-palette(mat.$green-palette, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
      basic: $my-basic,
    ),
  )
);

@include mat.all-component-themes($my-theme);

* {
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}
html,
body {
  height: 60%;
}

body {
  margin: 0;
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
